# Crie uma conta gratuita em https://pusher.com/
# Crie um App e copie as chaves (App Keys) aqui:

VITE_PUSHER_APP_ID=seu_app_id
VITE_PUSHER_KEY=sua_key
VITE_PUSHER_SECRET=seu_secret
VITE_PUSHER_CLUSTER=us2
